<h1> Gestão de transportadoras </h1>

<% if carrier_user_signed_in? %>
  <%= link_to 'Nossa Frota de Veículos', vehicles_path %>
  <%= link_to 'Nossos preços', prices_path %>
  <h2> Minha transportadora </h2>
    <dl>
      <dt>Razão social: </dt>
      <dd><%=@carrier.corporation_name%></dd>
      <dt>Nome Fantasia: </dt>
      <dd><%=@carrier.brand_name%></dd>
      <dt>CNPJ: </dt>
      <dd><%=@carrier.registration_number%></dd>
      <dt>Domínio de e-mail: </dt>
      <dd><%=@carrier.email_domain%></dd>
      <dt>Endereço: </dt>
      <dd><%=@carrier.address%></dd>
      <dt>Veículos: </dt>
      <% @carrier.vehicles.each do |v| %>
        <dd> <%= link_to(v.license_plate, edit_vehicle_path(v.id)) %> </dd>
      <% end %>
    </dl>
<% end %>

<% if admin_signed_in? %>

  <% if @carriers.any? %>
    <% @carriers.each do |c| %>

      <dl>
        <dt>Razão social: </dt>
        <dd><%= link_to c.corporation_name, edit_carrier_path(c.id)%></dd>

        <dt>Nome Fantasia: </dt>
        <dd><%=c.brand_name%></dd>

        <dt>CNPJ: </dt>
        <dd><%=c.registration_number%></dd>

        <dt>Domínio de e-mail: </dt>
        <dd><%=c.email_domain%></dd>

        <dt>Endereço: </dt>
        <dd><%=c.address%></dd>

        <dt>Veículos: </dt>
        <% c.vehicles.each do |v| %>
          <dd> <%= link_to(v.license_plate, edit_vehicle_path(v.id)) %> </dd>
        <% end %>

      </dl>

    <% end %>

  <% else %>
    <p> Não há transportadoras </p>
  <% end %>
<% end %>