<div class="margin">
<h1> Atualizar Rota da OS: <%= @route_update.service_order.order_code %> </h1> <br>

    <div class="warning">
      <% if @route_update.errors.any? %>
        <ul>
          <% @route_update.errors.full_messages.each do |m| %>
            <li> <%= m %> </li>
          <% end %>
        </ul> <br>
      <% end %>
    </div>

  <div>
    <% if @route_update.day.present? && @route_update.set_hour.present? && @route_update.local.present?%>
      <h2> Última atualização </h2>
        <ul>
          <li> <%= RouteUpdate.human_attribute_name(:day)%>: <%= I18n.localize(@route_update.day) %> </li>
          <li> <%= RouteUpdate.human_attribute_name(:hour)%>: <%= @route_update.set_hour %> </li>
          <li> <%= RouteUpdate.human_attribute_name(:local)%>: <%= @route_update.local %> </li>
        </ul> 
    <br> <br> <% end %>
  </div>

  <% if @route_update.local == @service_order.delivery_address %>
    <%= form_for @service_order, url: {action: 'to_finish', method: :patch} do |f| %>
      <%= f.submit 'Pacote Entregue: Finalizar Encomenda', class: 'button_access' %> <br> <br>
    <% end %>
  <% end %>

  <% if @route_update.service_order.accepted? %>
    <p> Obs: Para habilitar a opção de finalizar encomenda, digite na opção 'Local' exatamente <br>como consta o endereço de entrega da ordem de serviço </p> <br>
    <div>
      <%= form_with(url: route_update_path, method: :post) do |f| %>
        <%= f.label :day, 'Dia' %>
        <%= f.date_field :day %> <br>

        <%= f.label :hour, 'Hora' %>
        <%= f.time_field :hour %> <br>

        <%= f.label :local %>
        <%= f.text_field :local %> <br>

        <%= f.submit class:'button_update'%> <br>
      <% end %>

    <% else %>
      <p> Encomenda já foi entrege ao destinátario </p>

    </div>
  <%end %>
</div>
