<div class="margin">
  <h1> <%=I18n.t(:cadastred_prices)%> (<%= @user.carrier.corporation_name%>) </h1> <br>

  <%= link_to 'Cadastrar preço', new_price_path %> <br> <br>

  <% @prices.each do |p| %> <br>

  Volumes de <%= p.initial_volume %> (m³) até <%= p.final_volume %> (m³) <br>
  Pesos de <%= p.initial_weight %> (g) até <%= p.final_weight %> (g) <br>
  Preço por kilômetro: <%= number_to_currency(p.price_per_km) %> <br>
  Até <%= p.minimal_distance %> km o valor é <%= number_to_currency(p.minimal_price) %> <br>

  <% end %>
</div>