<div class="margin">
<% @prices_and_deadlines.each_pair do |key, value| %>
  <% if key.present? && value.present?%>
    <ul>
    <li><%=Carrier.model_name.human%>: <%= key.carrier.corporation_name %> </li>
    <li><%=Deadline.model_name.human%>: <%= value.days %> dias </li>
    <% if @distance <= key.minimal_distance %>
       <li><%=Price.model_name.human%>: <%= number_to_currency(key.minimal_price) %> </li>
    <% else%>
       <li><%=Price.model_name.human%>: <%= number_to_currency(key.price_per_km * @distance) %> </li>
    <% end %>
    </ul>
  <%end%> <br>
<% end %>
</div>
