<div class="margin">
<h1> Veículos - <%= @carrier.corporation_name %></h1>  <br>

<p><%= link_to 'Registrar veículo', new_vehicle_path %></p> <br>

<% @vehicles.each do |v| %> <br>

  <p> <%= link_to v.license_plate, edit_vehicle_path(v.id) %> <br> </p>

<div class="listing_vehicles" >
  <p> Marca: <%= v.brand %> <br> </p>

  <p> Modelo: <%= v.model %> <br> </p>

  <p> Ano: <%= v.year %> <br> </p>

  <p> Capacidade máxima: <%= v.maximum_charge %>kg <br> <br> </p>
</div>
<% end %>
</div>