<h1> Veículos - <%= @carrier.corporation_name %></h1>

<%= link_to 'Registrar veículo', new_vehicle_path %> <br>
<br>
<% @vehicles.each do |v| %>

  Placa: <%= link_to v.license_plate, edit_vehicle_path(v.id) %> <br>

  Marca: <%= v.brand %> <br>

  Modelo: <%= v.model %> <br>

  Ano: <%= v.year %> <br>

  Capacidade máxima: <%= v.maximum_charge %>kg <br>

<% end %>