<h1> Veículos </h1>

<% @vehicles.each do |v| %>

  Placa: <%= v.license_plate %> <br>

  Marca: <%= v.brand %> <br>

  Modelo: <%= v.model %> <br>

  Ano: <%= v.year %> <br>

  Capacidade máxima: <%= v.maximum_charge %>kg <br>

  Transportadora: <%= v.carrier.brand_name %> <br> <br>
<% end %>