<!DOCTYPE html>
<html>
  <head>
    <title>Frete de Transportadora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div>
      <%= link_to 'Home', root_path %> <br>
    </div>

    <div>
      <% if carrier_user_signed_in? %>
        <%= button_to 'Sair', destroy_carrier_user_session_path, method: :delete %> <br>
        <p>Sessão atual:</p>
        <p><%= current_carrier_user.name %> - <%= current_carrier_user.carrier.corporation_name %></p>
      <% elsif admin_signed_in? %>
        <%= button_to 'Sair', destroy_admin_session_path, method: :delete %>
        <p>Sessão atual:</p>
        <p><%= current_admin.name %> - Administrador</p> 
        <%= link_to 'Registrar transportadora', new_carrier_path %> <br>
        <%= link_to 'Cadastrar ordem de serviço', new_service_order_path %> <br>
        <%= link_to 'Histórico de pré-orçamentos', price_log_searchs_path%>

      <% else %>
      <p> Acessar como:
        <%= button_to 'Transportadora', new_carrier_user_session_path, method: :get %>
        <%= button_to 'Administrador', new_admin_session_path, method: :get %> </p>
      <% end %>
    </div>

     <%= alert %> 
     <%= notice %> 
    <%= yield %> 
    
  </body>
</html>
