<!DOCTYPE html>
<html>
  <head>
    <title>Frete de Transportadora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <div class="header">
    <header> <h1>Transportadoras & Fretes</h1> </header> 
  </div>
    <div class ="header_home">
      <%= link_to 'Home', root_path %> <br> <br> <br>
    </div>

    <div>
      <% if carrier_user_signed_in? %>
        <div class="lefter_user">
          <p>Sessão atual:</p>
          <p><%= current_carrier_user.name %> - <%= current_carrier_user.carrier.corporation_name %></p>
          <%= button_to 'Sair', destroy_carrier_user_session_path, method: :delete, :class => "exit_button" %> <br> <br> <br>
        </div>
      <% elsif admin_signed_in? %>
      <div class="admin_options">
        <%= link_to 'Registrar transportadora', new_carrier_path %> <br> <br> <br>
      </div>

      <div class="admin_options">
        <%= link_to 'Cadastrar ordem de serviço', new_service_order_path%> <br> <br> <br>
      </div>

      <div class="admin_options">
        <%= link_to 'Histórico de pré-orçamentos', price_log_searchs_path%> <br> <br> <br>
      </div>
      
      <div class="lefter_user">
        <p>Sessão atual:</p>
        <p><%= current_admin.name %> - Administrador</p> 
        <%= button_to 'Sair', destroy_admin_session_path, method: :delete, :class => "exit_button"  %>
      </div>
      <% end %>
    </div>

    <div class="message">
     <%= alert %> 
     <%= notice %>
    </div> 
    <%= yield %>
    <div> 
    <footer> Campus Code - TreinaDEV 8 <br> Todos os direitos reservados. </footer>
    </div>
  </body>
</html>
